@media screen and (max-width: 800px) {
  .sideMenu {
    display: initial;
    visibility: visible;
    position: fixed;
    right: 2rem;
    z-index: 10;
  }
  
  .sideMenu i {
    position: relative;
    z-index: 1;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .sideMenu #open {
    display: block;
  }

  .sideMenu #close {
    display: none;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    background: #F9FAFB;
    width: 15rem;
    padding: 2rem;
    transition: all 2s;
  }

  .menu label {
    width: 1.5rem;
    margin-right: 8rem;
  }

  .menu .links,
  .menu .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .links {
    margin: 2rem 0;
  }

  .links a {
    margin-right: 0;
  }
}